* {
    font-family: "Manrope";
}

:root {
    --green: #97af8f;
    --dark-green: #6b7e63;
    --gray: #e2e3ef;
    --blue: #334551;
    --yellow: #eeb858;
    --dark-yellow: #d3a24c;
}

body {
    font-size: 16px;
    background-color: #f8f9fa;
}

.main-view {
    min-height: 100vh;
}

.text-sm {
    font-size: 0.75rem;
}

.bg-green {
    background-color: var(--green);
}

.bg-green:hover,
.bg-green:active {
    background-color: var(--dark-green) !important;
}

.text-green {
    color: var(--green);
}

.text-blue {
    color: var(--blue);
}

.border-green {
    border-color: var(--green) !important;
}

.bg-gray {
    background-color: var(--gray);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-yellow:hover,
.bg-yellow:active,
.bg-yellow:focus {
    background-color: var(--dark-yellow) !important;
    border: 0 !important;
}

/* ---- header --- */
.navbar-brand img {
    width: 150px;
}

.site-header .text {
    padding-bottom: 6%;
}

.inner p {
    font-size: 18px;
}

.sidebar-column {
    padding-top: 92px;
}

.sidebar-icon {
    width: 45px;
    height: 45px;
}

.site-header {
    background-image: url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.site-header-contact {
    background-image: url("../imgs/banner-pic.png");
    background-size: cover;
    background-position: center;
    background-color: var(--blue);
    height: 40vh;
}

/* -----  ---- */
.why-icon {
    width: 50px;
    height: 50px;
}

.star {
    width: 30px;
    height: 30px;
}

.socials {
    width: 25px;
    height: 25px;
}

.contacts {
    width: 20px;
    height: 20px;
}

/* --- profile --- */

.info-departments img {
    width: 50px;
    height: 50px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    max-width: 250px;
    object-fit: cover;
}

.edit {
    width: 40px;
    height: 40px;
    rotate: 30deg;
}

.plus {
    width: 20px;
    height: 20px;
}

.side-icon,
.analytics-eye img {
    width: 30px;
    height: 30px;
}

/* --- media queries --- */
@media screen and (max-width: 768px) {
    .orderm-2 {
        order: 2;
    }

    .orderm-3 {
        order: 3;
    }

    .site-header {
        background-image: url("../imgs/banner-pic.png");
    }

    .inner {
        background: var(--blue);
        width: 80%;
    }

    .inner p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .profile-pic {
        height: 230px;
        width: 230px;
    }

    .text-smaller {
        font-size: 14px;
    }

    .sidebar-icon {
        width: 25px;
        height: 25px;
    }
}